 
input[type=text]{
  min-width: 200px;
  padding: 2px 2px 2px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
select {
  min-width: 200px;
  padding: 2px 2px 2px 10px !important;
  border: 1px solid #ccc !important;
  border-radius: 4px;
  background-color: #f1f1f1;
}
input[type=submit] {
  min-width: 200px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/*-----USER FIELDS-------- */

.userFields{
    padding: 7px 7px 7px 0px;
    
}

.paytmDelete{
    text-decoration: none;
    background-color: darkred;  
  color: #fff;
  padding: 8px;
  text-align: center;
  font-size: 12px;
  border: 1px darkred solid;
  border-radius: 4px;
}
.paytmDelete:hover{
    color: #fff;
    background-color: #a30202; 

}
.Instructions p{
   line-height: 10px;
}


  .paytm-export{

    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 2.15384615;
    min-height: 30px;
    margin: 0;
    padding: 0 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
        color: #0071a1;
    border-color: #0071a1;
    background: #f3f5f6;
    /* vertical-align: top; */
    margin: 0 8px 0 0;
}
.wp-core-ui select {
    min-height: 31px;
    margin-top: -5px;
}
table#paytm-table {
    margin-top: 10px;
    overflow-x: auto;
}
.table-responsive {
    width: 97%;
    
}

.label-danger {
    background-color: #d9534f;
}
.label-success {
    background-color: #5cb85c;
}
.label-warning {
    background-color: #f0ad4e;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

/*---MODAL CSS---*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  text-align: center;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  max-width: 650px;
  margin: auto;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.table-view-list tr td:first-child{
  text-transform:capitalize;
}
.btnPrimary{ 
  background-color: #fafafa;  
  color: #444444;
  padding: 8px;
  text-align: center;
  font-size: 12px;
  border: 1px #444 solid;
  border-radius: 4px
}
#wpfooter {
   position: initial; !important;
}

#post-query-submit {
  vertical-align: middle !important;
}

 
